# Node
node_modules/
.env
.env.local
.env.production
npm-debug.log

# Logs
logs/
*.log

# Sistema
.DS_Store
Thumbs.db
portal.db

# Registros de error de NPM
npm-debug.log*# Archivos temporales
tmp/
temp/
*.tmp