<footer class="mt-auto">
    <div class="container">
        <p class="mb-3">📧 digitalbiblioteca48@gmail.com | WhatsApp: +52 735 227 6529</p>
        <div class="footer-socials mb-3">
            <a href="https://www.instagram.com/magnu.mfitness?igsh=enlpbmd0MjZycmY=" target="_blank"><i class="bi bi-instagram"></i></a>
            <a href="https://www.facebook.com/share/1GwpLBso4P/" target="_blank"><i class="bi bi-facebook"></i></a>
            <a href="https://youtube.com/@magnumfitness-q9o?si=aaTEL8MbJ4Mc3O-F" target="_blank"><i class="bi bi-youtube"></i></a>
            <a href="https://www.tiktok.com/@magnum_fitness?is_from_webapp=1&sender_device=pc" target="_blank"><i class="bi bi-tiktok"></i></a>
        </div>
        <small class="text-muted">&copy; 2025 Magnum Fitness. Todos los derechos reservados.</small>
    </div>
</footer>